{% extends 'base.html' %}
{% block main %}
    <table>
        <thead>
            <tr>
                <td>Player</td>
                <td>Country</td>
                <td>Matches</td>
                <td>Innings</td>
                <td>Not Outs</td>
                <td>Runs</td>
                <td>Average</td>
                <td>Balls Faced</td>
                <td>Stike Rate</td>
                <td>50</td>
                <td>100</td>
                <td>4s</td>
                <td>6s</td>
                <td>Ducks</td>
            </tr>
        </thead>

        <tbody>

            {% for row in data %}
                <tr>
                    <td>
                        {{ row[0] }}
                    </td>
                    <td>
                        {{ row[1] }}
                    </td>
                    <td>
                        {{ row[2] }}
                    </td>
                    <td>
                        {{ row[3] }}
                    </td>
                    <td>
                        {{ row[4] }}
                    </td>
                    <td>
                        {{ row[5] }}
                    </td>
                    <td>
                        {{ row[6] }}
                    </td>
                    <td>
                        {{ row[7] }}
                    </td>
                    <td>
                        {{ row[8] }}
                    </td>
                    <td>
                        {{ row[9] }}
                    </td>
                    <td>
                        {{ row[10] }}
                    </td>
                    <td>
                        {{ row[11] }}
                    </td>
                    <td>
                        {{ row[12] }}
                    </td>
                    <td>
                        {{ row[13] }}
                    </td>

                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}